blinker==1.9.0
click==8.1.8
colorama==0.4.6
flake8==7.1.2
Flask==3.1.0
itsdangerous==2.2.0
Jinja2==3.1.6
jsonify==0.5
MarkupSafe==3.0.2
mccabe==0.7.0
pycodestyle==2.12.1
pyflakes==3.2.0
Werkzeug==3.1.3